{
    "tagFormat": "alma-${version}",
    "branches": [
      "release/alma"
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "customization/docs/CHANGELOG.md"
        }
      ],
      [
        "@semantic-release/git",
        {
          "assets": [
            "customization/docs/CHANGELOG.md"
          ]
        }
      ]
    ]
  }