{
    "tagFormat": "np-${version}",
    "branches": [
      "release/new-partner"
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "customization/CHANGELOG.md"
        }
      ],
      [
        "@semantic-release/git",
        {
          "assets": [
            "customization/CHANGELOG.md"
          ]
        }
      ]
    ]
  }